
<body>
    <div class="footer">
        <!-- Footer top -->
        <div class="footer-top">
          <!-- Footer top left -->
          <div class="top-left">
            <div class="footer-logo">
              <img src="imgs/logo.svg" alt="" />
            </div>
            <div class="footer-text">
              <p>
                Providing online flower delivery service. With more than 200+
                beautiful and luxurious flower bouquets as gifts for many
                special occasions of the year.
              </p>
            </div>
          </div>

          <!-- Footer top right -->
          <div class="top-right">
            <div class="footer-col1">
              <h5>Mobile app</h5>
              <ul>
                <li>Features</li>
                <li>Live share</li>
                <li>Video record</li>
              </ul>
            </div>

            <div class="footer-col2">
              <h5>Community</h5>
              <ul>
                <li>Featured artists</li>
                <li>The Portal</li>
                <li>Live events</li>
              </ul>
            </div>

            <div class="footer-col3">
              <h5>Company</h5>
              <ul>
                <li><a href="">About us</a></li>
                <li><a href="">Contact us</a></li>
                <li><a href="">History</a></li>
              </ul>
            </div>
          </div>
        </div>

        <hr class="footer-line" />

        <div class="footer-bot">
          <div class="footer-copy">
            <span>Copyright &copy; 2023. All rights reserved</span>
          </div>

          <div class="footer-social">
            <span>Follow us: </span>
            <div class="social-facebook">
              <img src="imgs/icons/facebook.svg" alt="" />
            </div>
            <div class="social-instagram">
              <img src="imgs/icons/instagram.svg" alt="" />
            </div>
            <div class="social-twitter">
              <img src="imgs/icons/twitter.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
</body>
